<app-tabs>
  <ng-container class="card-grid-container">

    <app-tab tabTitle="ONGOING" [transactions]="ongoing">

      <app-loading-tab-content *ngIf="loading && !error" [displayOngoingLoader]="true"></app-loading-tab-content>
      <app-error-tab-content *ngIf="!loading && error"></app-error-tab-content>

      <ng-container *ngIf="!loading && !error">
        <div class="card-header">
          <div class="card-header__title">Total due</div>
          <div class="card-header__amount">
            <span class="card-header__amount__sign">€</span>
            <span *ngIf="!loading">{{ongoingDue | number: "1.0-2"}}</span>
          </div>
        </div>

        <ng-container *ngFor="let ongoingItem of ongoing">
          <div class="card-content">
            <div class="card-content__title">{{ongoingItem.store_name | uppercase}}</div>
            <div class="card-content__instalment">
              <span class="card-content__instalment__sign">€</span>
              <span>{{ongoingItem.amount / ongoingItem.split | number: "1.0-2"}} / month</span>
            </div>
            <div class="card-content__progress">
              <div class="card-content__progress__bar"
                   [ngStyle]="{'width': calculateOngoingProgression(ongoingItem)}"></div>
            </div>
            <div class="card-content__last-payment">
              Next instalment: {{getNextInstalment(ongoingItem.instalments) | date}}
            </div>
          </div>
        </ng-container>
      </ng-container>

    </app-tab>

    <app-tab tabTitle="HISTORY" [transactions]="history">

      <app-loading-tab-content *ngIf="loading && !error"></app-loading-tab-content>
      <app-error-tab-content *ngIf="!loading && error"></app-error-tab-content>

      <ng-container *ngIf="!loading && !error">
        <ng-container>
          <div class="card-header">
            <div class="card-header__title">All time paid</div>
            <div class="card-header__amount">
              <span class="card-header__amount__sign">€</span>
              <span>{{historyAllTimePaid | number: "1.0-2"}}</span>
            </div>
          </div>

          <ng-container *ngFor="let historyItem of history">
            <div class="card-content">
              <div class="card-content__title">{{historyItem.store_name | uppercase}}</div>
              <div class="card-content__instalment">
                <span class="card-header__amount__sign">€</span>
                <span>{{historyItem.amount | number: "1.0-2"}}</span>
              </div>
              <div class="card-content__last-payment">
                Last payment: {{getLastPayment(historyItem.instalments) | date}}
              </div>
            </div>
          </ng-container>
      </ng-container>

      </ng-container>

    </app-tab>

  </ng-container>
</app-tabs>
