@import 'src/styles';

app-tabs {
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-areas:
    "tab-bar"
    "card";

  .card-grid-container {
    grid-area: card;
  }
}

/*-----------------------CARD HEADER-----------------------*/
.card-header {
  margin-bottom: 20px;
  padding: 0 25px ;

  &__title {
    color: color(primary);
  }

  &__amount {
    font-size: 34px;
    font-weight: bold;

    &__sign {
      color: color(secondary);
      margin-right: 8px;
    }
  }
}

/*-----------------------CARD CONTENT-----------------------*/
.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: color(primary) 2px solid;
  padding: 25px 8.5%;
  margin-bottom: 20px;
  border-radius: 25px;
  box-shadow: 6px 6px 8px color(cardShadows);
  font-weight: bold;

  &__title {
    font-size: 20px;
  }

  &__instalment {
    font-weight: bold;
    font-size: 18px;
    &__sign {
      color: color(secondary);
      margin-right: 5px;
    }
  }
  &__last-payment {
    font-size: 14px;
    font-weight: normal;
  }

  &__progress {
    width: 100%;
    border: 2px solid color(primary);
    height: 10px;
    border-radius: 10px;

    &__bar {
      height: 100%;
      background-color: color(primary);
      border-radius: 10px;
    }
  }
}
