<div class="card-header">
  <div *ngIf="!displayOngoingLoader" class="card-header__title">All time paid</div>
  <div *ngIf="displayOngoingLoader" class="card-header__title">Total Due</div>
  <div class="card-header__amount">
    <span class="card-header__amount__sign">€</span>
    <span class="loading">
        <div class="loading__background"></div>
    </span>
  </div>
</div>

<ng-container>
  <div class="card-content">
    <span class="loading">
      <div class="loading__background"></div>
    </span>
    <div class="card-content__instalment">
      <span class="card-header__amount__sign">€</span>
      <span class="loading medium">
          <div class="loading__background"></div>
      </span>
    </div>
    <span *ngIf="displayOngoingLoader" class="loading bar">
        <div class="loading__background"></div>
    </span>
    <div class="card-content__last-payment">
    </div>
    <span class="loading small">
        <div class="loading__background"></div>
    </span>
  </div>
</ng-container>
