@import '../../Pages/transactions/transactions.component';

.loading {
  display: inline-block;
  height: 24px;
  width: 113px;
  background-color: #dbdbdb;
  border-radius: 12px;
  overflow: hidden;

  &.medium {
    height: 15px;
    width: 100px;
  }

  &.small {
    height: 10px;
    width: 200px;
  }

  &.bar {
    height: 10px;
    width: 100%;
  }

  &__background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: darkgray;
    background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 113px;
    height: 100px;
    position: relative;
  }
}

@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}
