<div class="tab-bar">
  <div *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active">
    <div class="tab-bar__item">{{ tab.title }}</div>
  </div>
</div>

<ng-content></ng-content>
