@import 'src/styles';

.tab-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 27px;
  margin-bottom: 22px;
  grid-area: tab-bar;

  &__item {
    color: color(white);
    cursor: pointer;
    padding: 0 40px 7px;
    font-weight: 700;
    font-size: 13px;
  }

  .active &__item {
    color: color(secondary);
    border-bottom: 2px solid color(secondary);
  }
}

