@import "src/styles";

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 30px 0;
  font-size: 20px;

  .material-symbols-outlined {
    font-size: 80px;
    color: color(primary);
  }

  a {
    text-decoration: none;
    color: color(white);
    background: color(gradient);
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 6px 6px 8px color(cardShadows);
  }
}
