$colors: (
  primary: #400EC9,
  secondary: #00ECCB,
  white: #F4FAFD,
  black: #333333,
  cardShadows: #0000003F,
  gradient: linear-gradient(150.83deg, #724EE5 12.69%, #4128C9 60.34%) fixed
);

@function color($color-name) {
  @return map-get($colors, $color-name)
};

body, html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background: color(gradient);
  color: color(black);

  header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 53px 0 23px;
    img {
      height: 25px;
    }
  }
}
